/* ---------- Common CSS ------ */
section {
    width: 100%;
    /* background: #000; */
}
.showColorPicker{
    display: block !important;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}
body {
    background: rgb(197, 197, 197);
    /* background: #111111; */
    position: relative;
}

/* ---------- Nav Bar ------ */
#navBar {
    position: relative;
}
.navbar{
    background: transparent !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 88px;
    z-index: 1;
}
.navbar ul li a{
    color: #fff;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* ---------- Banner ------ */
#banner {
    height: 100vh;
    color: #fff;
    background: url(/resources/images/banner-bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.overlay {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.77);
}
#banner h1 {
    color: #fff;
    text-align: left;
    font-size: 88px;
    font-weight: 400;
    font-family: 'Libre Baskerville', serif;
    padding-bottom: 20px;
}
.name{
    color: #2AAFC0;
}
#banner .banner-text{
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #fff;
    text-align: left;
}
.firstName{
    font-size: 35px;
}
.banner-details{
    width: 100%;
}
#banner .banner-text span{
    font-weight: 700;
}

.social-icon a{
   font-size: 20px;
   color: #000;
   height: 40px;
   width: 40px;
   text-align: center;
   line-height: 40px;
   font-weight: 400;
   background: #fff;
   display: block;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   margin-left: 20px;
   transition: .5s;
   -webkit-transition: .5s;
   -moz-transition: .5s;
   -ms-transition: .5s;
   -o-transition: .5s;
}
.social-icon a:first-child{
    margin-left: 0;
}

.social-icon a:hover{
    background: #2AAFC0;
    color: #fff;
}
.test{
    /* background: red; */
    height: auto;
    width: 100%;
    padding: 1%;
}
.bannerComponant{
    /* padding-top: 10%; */
    height: 100vh;
}

#colorPlate{
    height: 130px;
    width: 180px;
    color: #2AAFC0;
    background: #fff;
   
}
#colorPicker{
    /* position: relative; */
}
.setting{
    font-size: 50px;
    /* color: rgb(0, 0, 0); */
    /* position: absolute; */
    left: 0;

}
.setting{
    font-size: 30px;
    color: black;
    background:  #fff;
    float: left;
}
.setting i{
    cursor: pointer;
}
#colorPicker{
    /* display: none; */
    background: #fff;
    position: fixed;
    top: 50%;
    text-align: center;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.colorPlate{
    float: left;
    width: 200px;
    height: 130px;
}
.colorButton{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* =========== About ME ======== */

#TitleofDiv{
    width: 100%;
    background: #111111;
    position: relative;
    padding: 80px 0;
}
#TitleofDiv .divTitle h2{
    font-size: 56px;
    font-weight: 900;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.title-bg{
    font-size: 110px;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    top: 45%;
    text-transform: uppercase;
    font-weight: 800;
    left: 50%;
    transform: translate(-50%, -45%);
    color: rgba(255, 255, 255, 0.07);
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%);
}
.ineerTitleColor{
    color: #ffb400;
}
#about{
    width: 100%;
    background: #111111;
}
.personalInfoText{
    font-weight: 600;
    padding-bottom: 22px;
    font-size: 26px;
}
.myPicture{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.infoTitle{
    opacity: 0.8;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
}
.value{
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
}
#about .about-list li:not(:last-child) {
    padding-bottom: 20px;
}
.mail{
    font-size: 13px;
    text-transform: lowercase;
}
.cvButton{
    font-weight: 500;
    background: #ffb400;
    border-radius: 26px;
    height: 46px;
    line-height: 3;
    font-size: 15px;
    padding: 0 40px;
    letter-spacing: .5px;
}
.with-margin{
    margin-bottom: 30px;
}
.box-state{
    padding: 20px 30px 25px 40px;
    border-radius: 5px;
    border: 1px solid #252525;
}
.box-state h3{
    color: #ffb400;
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.box-state h3::after{
    content: '+';
    position: absolute;
    right: -24px;
    font-size: 33px;
    font-weight: 300;
    top: 2px;
}
.box-state p{
    padding-left: 45px;
    text-transform: uppercase;
    position: relative;
}
.box-state p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 13px;
    width: 30px;
    height: 1px;
    background: #777;
}
.separator{
    border-top: 1px solid #252525;
    margin: 70px auto 55px;
    max-width: 40%;
}